---
import Section from "../Section.astro";
import { Icon } from "astro-icon/components";
import { work } from "@cv";
---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(
        ({
          name,
          startDate,
          endDate,
          position,
          summary,
          url,
          technologies,
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual";
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>
                <footer>
                  <p>{summary}</p>
                  <p>
                    {technologies.map((technology) => (
                      <span>
                        <Icon size={30} name={`${technology}`} />
                      </span>
                    ))}
                  </p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  footer p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  footer p:last-child {
    border-radius: 6px;
    background: #eee;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
