---
import Section from "../Section.astro";
import { Icon } from "astro-icon/components";
import { skillsAuthentication } from "@cv";
import { skillsBackend } from "@cv";
import { skillsCloud } from "@cv";
import { skillsContainers } from "@cv";
import { skillsControllVersions } from "@cv";
import { skillsDataCience } from "@cv";
import { skillsFrameworks } from "@cv";
import { skillsFrontend } from "@cv";
import { skillsIdes } from "@cv";
import { skillsManagerOfPackages } from "@cv";
import { skillsOperatingSystems } from "@cv";
import { skillsTesting } from "@cv";
import { skillsWeb3 } from "@cv";
---

<Section title="Habilidades Tecnicas">
  <ul>
    {
      // Authentication
      skillsAuthentication.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Backend
      skillsBackend.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Cloud
      skillsCloud.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Containers
      skillsContainers.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Controll Versions
      skillsControllVersions.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Data Cience
      skillsDataCience.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Frameworks
      skillsFrameworks.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Frontend
      skillsFrontend.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Ides
      skillsIdes.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Manager Of Packages
      skillsManagerOfPackages.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Operating Systems
      skillsOperatingSystems.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Testing
      skillsTesting.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
    {
      // Web3
      skillsWeb3.map(({ name, skills }) => (
        <li>
          <article>
            <header>
              <h3>{name}</h3>
            </header>
            <ul>
              {skills.map((skill) => (
                <li>
                  <span>
                    <Icon size={30} name={`${skill}`} />
                  </span>
                </li>
              ))}
            </ul>
          </article>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }

  header p {
    color: rgb(0, 188, 47);
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }

  article ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px; /* Ajusta el espacio entre los elementos */
    color: #453f3f;
    padding: 1rem;
  }

  article ul :last-child {
    margin-bottom: 0;
    padding: 0;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 1rem;
    margin-inline: -16px;
  }

  ul li {
    margin-bottom: 0.5rem;
  }

  .domain-bar {
    display: flex;
    align-items: center;
    height: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0.5rem;
    height: 20px;
  }

  .domain {
    height: 100%;
    width: auto;
    background-color: rgb(0, 188, 47);
  }

  .percentage {
    display: flex;
    align-items: center;
  }
  /* Mobile Media querie*/
  @media (max-width: 768px) {
    ul {
      grid-template-columns: 1fr;
    }
  }
</style>
